.repo-search-bar {
  font-family: Avenir, sans-serif;
  button {
    padding: 10px 20px;
    margin-left: 10px;
    background: black;
    color: white;
    font-family: Avenir, sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  input {
    padding: 10px 20px;
    &:focus {

    }
  }
}
